
.left-panel {
    background-color: antiquewhite;
    width: 33.3%;
    height: 100%;
    vertical-align: top;
}

.right-panel {
    background-color: lightseagreen;
        width: 66.66%;
    height: 100%;
    vertical-align: top;
}

html, body{
    height: 100%;
}

.stretch-it{
    height:100%
}

.inline {
    display: inline-block;
}